.gallery {
    list-style: none;
    margin: 0;
    margin-top: 24px;
    padding: 0 156px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 24px;
    overflow: visible;
}

.gallery-item {
    overflow: visible;
    position: relative;
    border: solid;
}

.gallery-link {
    display: block;
    width: 360px;
    text-decoration: none;
    color: inherit;
}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
    object-fit: cover;
    transform-origin: center center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
    position: relative;
    z-index: 0;
}


@media (max-width: 1150px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 0 20px;
    }

    .gallery-link,
    .gallery-image {
        width: 100%;
        height: 180px;
    }
}

.sl-caption {
    color: rgb(255, 255, 255, 1) !important;
    background-color: rgb(181, 45, 181) !important;
    opacity: 0.9 !important;
    
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}